*{
    margin: 0;
    padding: 0;
}


.header{
    color: white;
    background-color: blueviolet;
    padding: 15px;
    text-align: center;

}

.box{
    display: inline-block;
    padding: 60px;
    height: 50px;
    text-align: center;
    padding-top: 2px;
}

.one{
    background-color:gainsboro;
    padding: 30px;
    text-align: center;
    padding: 50px;


}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

th{
    text-align: center;
    color:black;
    background-color: blueviolet;
}



.two{
    background-color: white;
    padding: 30px;
    text-align: left;

}


li,ul{
    margin-right: 20px;
    padding-left: 20px;
}

















.container{
    color: white;
    background-color: black;
    padding: 30px;
    text-align: center;
}